body .ged-popover {
  position: fixed;
  left: 100px;
  top: 100px;
  bottom: 100px;
  background: #eee;
  color: #555;
  z-index: 9999;
  border: solid #2b2301 1px;
  line-height: 1.5;
  font-size: 11pt;
  overflow-y: auto;
  min-width: 490px;
  text-align: left;
}
body .ged-popover * {
  box-sizing: border-box;
  line-height: 1.5;
}
body .ged-popover form {
  width: 100%;
  background: #555;
  color: #eee;
  height: 55px;
}
body .ged-popover canvas,
body .ged-popover button,
body .ged-popover input {
  float: left;
}
body .ged-popover canvas {
  margin: 15px;
  cursor: pointer;
}
body .ged-popover button,
body .ged-popover input {
  background: #eee;
  color: #555;
  padding: 5px 15px;
  margin: 15px;
}
body .ged-popover input {
  border-radius: 15px;
  outline: none;
  border: solid #000 1px;
  width: 200px;
}
body .ged-popover button {
  border: solid #000 1px;
  background: #eee;
  margin-left: 10px;
  cursor: pointer;
}
body .ged-popover button:hover {
  background: #bbb;
}
body .ged-popover button,
body .ged-popover input,
body .ged-popover td {
  font-size: 1em;
}
body .ged-popover .ged-popover-content {
  font-family: Helvetica;
  padding: 20px;
}
body .ged-popover .ged-popover-content h1,
body .ged-popover .ged-popover-content h2,
body .ged-popover .ged-popover-content h3 {
  margin: 0px 0px 0px 0px;
}
body .ged-popover .ged-popover-content h2,
body .ged-popover .ged-popover-content h3 {
  border-bottom-width: 0px;
}
body .ged-popover .ged-popover-content h1 {
  font-size: 3em;
  border-bottom: solid #555 1px;
  width: 50%;
}
body .ged-popover .ged-popover-content h2 {
  font-size: 2em;
}
body .ged-popover .ged-popover-content table.ged-popover-entry-table,
body .ged-popover .ged-popover-content td.ged-popover-entry-cell {
  border-width: 0px;
  margin: 0px 0px 0px 0px;
}
body .ged-popover .ged-popover-content td {
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 0px;
}
body .ged-popover .ged-popover-content td:first-child {
  padding-right: 50px;
}
.ged-popover-close {
  font-size: 2em;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 8px;
}
.ged-popover-section {
  padding-top: 10px;
}
