.ged-popover {
  position: fixed;
  left: 100px;
  top: 100px;
  bottom: 100px;
  right: 100px;
  background: #73afb6;
  color: #eefcff;
  overflow-y: auto;
  z-index: 9999;
  border: solid #2b2301 1px;
  line-height: 1.5;
}
.ged-popover h1 {
  font-size: 3em;
}
.ged-popover h2 {
  font-size: 2em;
}
.ged-popover button {
  padding: 2px;
  border: solid #000 1px;
  background: #eee;
  margin-left: 10px;
  cursor: pointer;
}
.ged-popover button:hover {
  background: #aaa;
}
.ged-popover-content {
  font-family: Helvetica;
  padding: 20px;
}
.ged-popover-content td {
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
}
.ged-popover-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}
