blueish-green = #73afb6
gold          = hsl(70, 20%, 60%)
reddish       = hsl(355, 20%, 30%)
darkish       = #555
lightish      = #eee
btn-yellowish = hsl(70, 15%, 90%)

.ged-popover
  position:     fixed
  left:         100px
  top:          100px
  bottom:       100px
  right:        100px
  background:   lightish
  color:        darkish
  z-index:      9999
  border:       solid #2b2301 1px
  line-height:  1.5
  font-size:    11pt
  overflow-y: auto

  *
    box-sizing: border-box

  h1
    font-size:     3em
    border-bottom: solid darkish 1px
    width:         50%

  h2
    font-size: 2em

  form
    width:      100%
    background: darkish
    padding:    15px
    color:      lightish

  button, input
    background: lightish
    color:      darkish
    padding:    5px 15px

  input
    border-radius: 15px
    outline:       none
    border:        solid black 1px

  button
    border:      solid black 1px
    background:  lightish
    margin-left: 10px
    cursor:      pointer

    &:hover
      background: #bbb

.ged-popover-content
  font-family: Helvetica
  padding:     20px

  td
    padding-top:    2px
    padding-right:  10px
    padding-bottom: 2px

    &:first-child
      padding-right: 50px

.ged-popover-close
  font-size: 2em
  cursor:    pointer
  display:   inline-block
  position:  absolute
  right:     25px
  top:       8px

.ged-popover-section
  padding-top: 10px

