blue-green    = #73afb6
gold          = hsl(70, 20%, 60%)
reddish       = hsl(355, 20%, 30%)
darkish       = #555
btn-yellowish = hsl(70, 15%, 90%)

.ged-popover
  position:     fixed
  left:         100px
  top:          100px
  bottom:       100px
  right:        100px
  background:   gold
  color:        #eefcff
  z-index:      9999
  border:       solid #2b2301 1px
  line-height:  1.5
  font-size:    11pt
  overflow-y: auto

  *
    box-sizing: border-box

  h1
    font-size:     3em
    border-bottom: solid white 1px
    width:         50%

  h2
    font-size: 2em

  form
    width:      100%
    background: reddish
    padding:    20px

  button, input
    background: btn-yellowish
    padding:    8px 15px

  input
    border-radius: 15px
    outline:       none
    border:        solid black 1px

  button
    padding:       2px
    padding-left:  5px
    padding-right: 5px
    border:        solid black 1px
    background:    #eee
    margin-left:   10px
    cursor:        pointer

    &:hover
      background: #aaa

.ged-popover-content
  font-family: Helvetica
  padding:     20px

  td
    padding-top:    2px
    padding-right:  10px
    padding-bottom: 2px

    &:first-child
      padding-right: 50px

.ged-popover-close
  font-size: 2em
  cursor:    pointer
  display:   inline-block
  position:  absolute
  right:     25px
  top:       15px

.ged-popover-section
  padding-top: 10px

